:root {
  --primary:  #ffdb58;
  --secondary: #f88379;
  --tertiary: #000080bd;
}

* {
  box-sizing: border-box;
}

.container-aboutme {
  background-color: var(--tertiary);

}
.header-ab {
  color: var(--secondary);
}
.mypic {
  display: flex;
  width: 60vmin;
  height: 60vmin;
  border-radius: 2px;
  border: solid black;
}

.aboutme-text {
  font-size: 4.5vm;
  color: var(--secondary);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--tertiary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
