:root {
  --font-base: 'Montserrat', sans-serif;

  --color-gold: #ecc01e;
  --color-navy: #000080;
  --color-white: #ffffff;
  --color-pink: #ff66cc;
  --color-blue: #87ceeb;
}

body {
  background-color: var(--color-blue);
  color: var(--color-navy);
}
* {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
}

.head {
  align-self: center;
  color: var(--color-navy);
}
.container-aboutme {
  background-color: var(--color-gold);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: auto;
  margin-top: 6vh;
  border: 2px solid var(--color-gold);
}
.header-ab {
  color: var(--secondary);
  display: flex;
}
.mypic {
  display: flex;
  width: 60vmin;
  height: 60vmin;
  border-radius: 2px;
  border: solid black;
}

.aboutme-text {
  font-size: 4.5vm;
  color: var(--secondary);
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2vw;
  margin: 1vw 6vw;
}

.nav-info {
  color: var(--color-navy);
  text-decoration: none;
}

.nav-info-active {
  color: var(--color-gold);
  text-decoration: none;
  border: 2px solid;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--tertiary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
